<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/style.css"> 

</head>
<body>
<div id="video-player" class="fullscreen-bg">
	<video class="fullscreen-bg__video" autoplay poster="img/loading.jpg">
		<source src="video/Instance3.mp4" type="video/mp4">
		<source src="video/Instance2.mp4" type="video/mp4">
		<source src="video/Instance3.mp4" type="video/mp4">
		<source src="video/Instance4.mp4" type="video/mp4">
		<source src="video/Instance5.mp4" type="video/mp4">
		<source src="video/Instance6.mp4" type="video/mp4">
		<source src="video/Instance7.mp4" type="video/mp4">
	</video>
	<div class="fullscreen-bg__playlist">
		<a href="video/Instance3.mp4"></a>
		<a href="video/Instance2.mp4"></a>
		<a href="video/Instance3.mp4"></a>
		<a href="video/Instance4.mp4"></a>
		<a href="video/Instance5.mp4"></a>
		<a href="video/Instance6.mp4"></a>
		<a href="video/Instance7.mp4"></a>
	</div>
</div>
<script>
( function() {
	/* Variable declarations */
	var videoPlayer = document.getElementById( 'video-player' ),
		video = videoPlayer.getElementsByClassName( 'fullscreen-bg__video' )[0],
		playlist = videoPlayer.getElementsByClassName( 'fullscreen-bg__playlist' )[0],
		source = video.getElementsByTagName( 'source' ),
		linkList = [],
		moreVideosLeft = true,
		videosPlayed = 0,
		videoDirectory = 'video/',
		currentVideo = 0,
		firstVideo,
		allLinks = playlist.children,
		linkNumber = allLinks.length,
		i, filename;
	/**
	 * Load and play video
	 * @param  int index Video index
	 */
	function playVideo( index ) {
		console.log("Now playing: " +index);
		currentVideo = index;
		allLinks[index].classList.add( 'current-video' );
		source[0].src = videoDirectory + linkList[index] + '.mp4';
		video.load();
		video.play();
	}
	// Save all video sources from playlist
	for ( i = 0; i < linkNumber; i++ ) {
		filename = allLinks[i].href;
		linkList[i] = filename.match( /([^\/]+)(?=\.\w+$)/ )[0];
	}
	// Start a random video when the DOM loads
	document.addEventListener("DOMContentLoaded", function(){
    	firstVideo = Math.floor(Math.random() * 7);
		allLinks[firstVideo].classList.add( 'current-video' );

		playVideo( firstVideo );
	});

	/**
	 * Play next video
	 */
	video.addEventListener( 'ended', function () {

		allLinks[currentVideo].classList.remove( 'current-video' );
		allLinks[currentVideo].classList.add( 'used-video' );

		videosPlayed = 0;
		nextVideo = Math.floor(Math.random() * 7);
		console.log("Initial pick: " + nextVideo);
		while (allLinks[nextVideo].classList.contains( 'used-video' )){
			console.log("Already used")
			nextVideo = Math.floor(Math.random() * 7);
			console.log("New pick: " + nextVideo);
			videosPlayed++;
			if (videosPlayed == 7)
			{
				for ( i = 6; i >= 0; i--)
					allLinks[i].classList.remove( 'used-video' );
			}
		}

		allLinks[nextVideo].classList.add( 'used-video' );

		playVideo( nextVideo );
	} );
} () );
</script>

</body>
</html>
